@import "tailwindcss";

@layer utilities {
  .print-only {
    display: none;
  }
}

@media print {
  @page {
    margin: 0;
  }

  body {
    background-color: white !important;
    color: black !important;
  }

  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

/* Global Styles */
body {
  background-color: #020617;
  /* slate-950 */
  color: #f1f5f9;
  /* slate-100 */
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f1f5f9;
    /* slate-100 */
    color: #0f172a;
    /* slate-900 */
  }
}